html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  font-family: "Source Sans", sans-serif;
}

.container {
  margin: 0 auto;
  width: 400px;
  background-color: #ffffff;
}

h5,
h6 {
  margin: 0;
}

.header {
  display: flex;
  width: inherit;
  justify-content: space-between;
  padding: 5px 0;
}

.name img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 5px 0 0;
}

.divider {
  border-top: 1px solid #c6c6c6;
  margin-bottom: 10px;
}

.name-data {
  display: flex;
  margin: 0 10px;
}

.logo-img {
  width: 150px;
  height: 70px;
}

.user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 15px 10px 0 0;
}

.user-data {
  margin: 5px 0;
}

.img-data img {
  width: 100%;
  margin: 15px 0;
}

.icon-data img {
  width: 25px;
  height: 25px;
  margin: 0 5px;
}

.icon-data {
  text-align: left;
}

#likes {
  text-align: left;
  margin: 10px 10px;
  font-weight: 600;
}

.comment {
  text-align: left;
  display: flex;
  margin: 0 10px;
}

.comment p {
  margin: 0;
}

#user-comment-name {
  font-weight: 600;
}

#comment {
  margin-left: 5px;
}
